{% extends 'base.html' %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/about.css">
{% endblock %}

{% block title %}
    About developers
{% endblock %}

{% block body %}
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img src="https://i.pinimg.com/564x/2b/8e/a9/2b8ea9dd70c6f6b64c0f460741f84142.jpg"
                             alt="Goncharenko" style="width:100%">
                        <div class="container">
                            <h2>Andrew Goncharenko</h2>
                            <p class="title">CEO & Founder</p>
                            <p>DevOps engineer</p>
                            <p>goncharenkoandrey8@gmail.com</p>
                            <p>
                                <button class="button"
                                        onclick="window.location.href = 'mailto:goncharenkoandrey8@gmail.com?subject=The issue of cooperation';">
                                    Contact
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="https://i.pinimg.com/564x/4c/c3/cd/4cc3cdc34f7a2451897549e46bbd6d5d.jpg" alt="Musk"
                             style="width:100%">
                        <div class="container">
                            <h2>Elon Musk</h2>
                            <p class="title">Global Development Director</p>
                            <p>Backend and frontend developer</p>
                            <p>elonmusk@gmail.com</p>
                            <p>
                                <button class="button"
                                        onclick="window.location.href = 'mailto:goncharenkoandrey8@gmail.com?subject=The issue of cooperation';">
                                    Contact
                                </button>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img src="https://i.pinimg.com/564x/96/ff/55/96ff55d185194b1f4474d35980af162d.jpg" alt="Jordan"
                             style="width:100%">
                        <div class="container">
                            <h2>Michael Jordan</h2>
                            <p class="title">Designer</p>
                            <p>I can make sneakers, but also website design.</p>
                            <p>jordanone@gmail.com</p>
                            <p>
                                <button class="button"
                                        onclick="window.location.href = 'mailto:goncharenkoandrey8@gmail.com?subject=The issue of cooperation';">
                                    Contact
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
