{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="../static/css/base.css">
    <link rel="stylesheet" type="text/css" href="../static/css/index.css">
{% endblock %}

{% block title %}
    Main page
{% endblock %}

{% block body %}

    {% if articles|length > 0 %}
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% set count_articles = 0 %}
                    {% for i in range(articles|length) %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="image-container">
                                    <img src="{{ image_data[i] }}" id="image-post" alt="posts image">
                                </div>

                                <div class="card-body">
                                    {% if articles[i].title|length < 28 %}
                                        <h3 class="card-text">{{ articles[i].title }}</h3>
                                        <p class="card-text">{{ articles[i].intro[:121] + "..." }}</p>
                                    {% else %}
                                        {% if articles[i].title|length > 48 %}
                                            <h3 class="card-text">{{ articles[i].title[:48] + "..." }}</h3>
                                        {% else %}
                                            <h3 class="card-text">{{ articles[i].title }}</h3>
                                        {% endif %}
                                        {% if  articles[i].intro|length > 92 %}
                                            <p class="card-text">{{ articles[i].intro[:81] + "..." }}</p>
                                        {% endif %}
                                        {% if articles[i].intro|length < 53 %}
                                            <p class="card-text">{{ articles[i].intro }} <br><br>  </p>
                                        {% endif %}
                                        {% if articles[i].intro|length >= 53 and articles[i].intro|length <= 92 %}
                                            <p class="card-text">{{ articles[i].intro }}
                                        {% endif %}
                                    {% endif %}
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="/posts/{{ articles[i].id }}" class="btn btn-warning">Open</a>
                                            <!-- вставить количество просмотров и рядом отображение их количества -->
                                        </div>
                                        <small class="text-muted">{{ articles[i].date.date() }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <p>We don't have articles on the site yet.</p>
    {% endif %}
{% endblock %}